<script type="text/x-handlebars-template">

    <div>

        {{#if options.label}}
        <legend class="{{#if options.labelClass}}{{options.labelClass}}{{/if}} alpaca-container-label">{{{options.label}}}</legend>
        {{/if}}

        {{#if options.helpers}}
        {{#each options.helpers}}
        <p class="alpaca-helper help-block {{#if options.helperClass}}{{options.helperClass}}{{/if}}">
            <i class="fal fa-info-circle"></i>
            {{{.}}}
        </p>
        {{/each}}
        {{/if}}

        {{#container}}{{/container}}

    </div>

</script>